/* Page lines */
.lines-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.lines-container {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: calc(-1 * ($container/2));
  width: $container;
  height: 100%;
  border-left: 1px solid $dark-accent;
  border-right: 1px solid $dark-accent;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.lines-column {
  grid-column: 2 / 3;
  border-left: 1px solid $dark-accent;
  border-right: 1px solid $dark-accent;
}

/* Container */
.container {
  width: 100%;
  max-width: $container;
  margin: 0 auto;
  padding: 0 1rem;
}